/* Style for the entire form */

.Form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 300px;
  margin-left: 33.36%;
}


.Form-submit label {
  font-size: 16px;
  margin-bottom: 5px;
}

.Form-submit select {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.Form-submit button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.Form-submit button:hover {
  background-color: #0056b3;
}
  

/* Style for the entire table */
.Table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 30px;
    
  }
  
  /* Style for table headers (th) */
  .Table th {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  
  /* Style for table cells (td) */
  .Table td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }

  .Table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .Table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  /* Add hover effect to rows */
  .Table tbody tr:hover {
    background-color: #e0e0e0;
  }


/* Style for table cells (td) that contain images */
.Table td img.Img {
    max-width: 100px; 
    max-height: 100px; 
    display: block; 
    margin: 0 auto; /* Center the image horizontally */
  }
  
  /* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .Form-submit {
    width: 200px;
    margin-left: 33.3%;
    margin-right: 33.3%;
  }
  .Table {
      margin-left: 0;
  }
  
  .favoritesheader {
      display: none; /* Hide the "favoritesheader" column on smaller screens */
  }
  
  .Table th, .Table td {
      padding: 5px;
  }
  
  .Table td img.Img {
      max-width: 80px;
      max-height: 80px;
  }

  .top-left-button{
    top: 40px;
    left: 40px;
    padding: 8px 15px;
  }

  .FindMatch{
    padding: 8px 15px;
    margin-left: 33.3%;
    margin-right: 33.3%;
  }

  .Fontstyle{
    text-align: left;
    font-size: 12px;
  }
}


  /* back button */
  .top-left-button {
    position: absolute;
    top: 40px;
    left: 80px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .top-left-button:hover {
    background-color: #0056b3; 
  }

  .arrow{
    margin-top: 6px;
    width: 15px;
    height: 15px;
    margin-left: 4px;
  }

  .Table .breedbutton{
    cursor: pointer;
    background-color: #007BFF;
  }

  .Table .breedbutton:hover{
    background-color: #0056b3; 

  }

  /* find match button styling */
  .FindMatch {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; 
    font-size: 16px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .FindMatch:hover {
    background-color: #0056b3; 
  }


.Fontstyle{
  text-align: left;
}  

.Fontstyle span{
  font-weight: bold;
}



/* uncheck button */
.unckeckbutton {
  background-color: #007BFF; 
  color: #fff; 
  padding: 5px 12px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-right: 10px;
  font-size: 16px;
  margin-top: 3px;
}


.unckeckbutton:hover {
  background-color: #0056b3; 
}

/* pagination button styling */
.pagination button{
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 8px;
  border-radius: 5px;
}

.pagination button:hover{
  background-color: #0056b3;
}